[submodule "CURC-ROBOCON26"]
	path = CURC-ROBOCON26
	url  = https://gitee.com/darrenpig/new_energy_coder_club
[submodule "docs"]
	path = docs
	url = https://github.com/new-energy-coder-club/docs.git
	branch = main
